main {
    border: 1rem solid #fff;
    padding: 0;
    .banner {
        display: flex;
        flex-direction: row;
        img {
            width: auto;
            height: auto;
        }
    }
    .content {
        padding: $space;
    }
}